<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Products</h5>
                <p class="card-text">{{ total_products }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Available Products</h5>
                <p class="card-text">{{ available_products }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Out of Stock</h5>
                <p class="card-text">{{ out_of_stock_products }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Discontinued</h5>
                <p class="card-text">{{ discontinued_products }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <h5>Top 5 Products by Quantity</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for product in top_products %}
                <tr>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.product_quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>